<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borg.androidemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.aliyun.permission.TYID_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 屏蔽HOME键需要的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.borg.mvp.application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".activity.FirstActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FileChooserActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LiteAsyncSamplesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FragmentTestActivity"
            android:label="@string/title_activity_fragment_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HandlerTestActivity"
            android:label="@string/title_activity_handler_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotificationListenerTestActivity"
            android:label="@string/title_activity_notification_listener_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.borg.binder.aidil.RemoteAidlService"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.borg.myaidl" />
            </intent-filter>
        </service>

        <activity
            android:name=".aes.AesTestActivity"
            android:label="@string/title_activity_aes_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FastjsonTestActivity"
            android:label="@string/title_activity_fastjson_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HandlerThreadTestActivity"
            android:label="@string/title_activity_handler_thread_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntentServiceTestActivity"
            android:label="@string/title_activity_intent_service_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>

        <service android:name=".service.TestIntentService" />

        <activity
            android:name=".activity.OkHttpTestActivity"
            android:label="@string/title_activity_ok_http_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.AsyncTaskTestActivity"
            android:label="@string/title_activity_async_task_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ble.DeviceScanActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ble.DeviceControlActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".ble.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name=".ble2.ScanActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ble2.DeviceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.VolleyTestActivity"
            android:label="@string/title_activity_volley_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EventBusTestActivity"
            android:label="@string/title_activity_event_bus_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SmartImageTestActivity"
            android:label="@string/title_activity_smart_image_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ble.BleTestActivity"
            android:label="@string/title_activity_ble_test" />

        <service android:name=".devices.connection.bluetooth.ble.service.BLEService">
            <intent-filter>
                <action android:name="com.yunos.alible.remoteservice" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MessengerService"
            android:process=":remote" />

        <activity android:name=".activity.MessengerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.NotificationListenerTestActivity"
            android:label="@string/title_activity_notification_listener_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name="com.borg.mvp.service.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.borg.mvp.view.CustomViewActivity"
            android:label="@string/title_activity_custom_view"
            android:theme="@style/titleTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.AnimationTestActivity"
            android:label="@string/title_activity_animation_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.SoundPlayerActivity"
            android:label="@string/title_activity_sound_player">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.FragmentTestActivity"
            android:label="@string/title_activity_fragment_test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.SearchResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.MultipleTypeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.hrMonitor.HeartRateMonitor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.MyListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.SwipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.SlideCutListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.MySwipeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.ViewPagerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.ViewPager2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="cn.limc.androidcharts.AndroidChartsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.binder.BinderTestActivity"
            android:label="@string/title_activity_aidltest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.recyclerview.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.recyclerview.StaggeredGridLayoutActivity" />
        <activity android:name="com.borg.mvp.view.recyclerview.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.percentLayout.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.imageloader.ImageLoaderMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.borg.mvp.view.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.ViewDragHelperActivity"
            android:label="@string/title_activity_view_drag_helper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.ViewPagerTsetActivity"
            android:label="@string/title_activity_view_pager_tset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.BlurActivity"
            android:theme="@style/Theme.Account.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.borg.mvp.view.BlurActivityTest"
            android:theme="@style/Theme.Account.Dialog" />
        <activity android:name="com.borg.mvp.view.MulticastActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>