<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borg.androidemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.FirstActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotificationListenerTestActivity"
            android:label="@string/title_activity_notification_listener_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>

        <service
            android:name=".notification.NotificationMonitor"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".aes.AesTestActivity"
            android:label="@string/title_activity_aes_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FastjsonTestActivity"
            android:label="@string/title_activity_fastjson_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HandlerThreadTestActivity"
            android:label="@string/title_activity_handler_thread_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="aptentity.intent.category.APT_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
